{% extends 'generic/object.html' %}
{% load helpers %}

  {% block content %}
<div class="row">
  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">License Instance</h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr>
            <td>License</td>
            <td>{{ object.license }}</td>
          </tr>
          <tr>
            <td>Assigned User</td>
            <td>{{ object.assigned_object|default:"—" }}</td>
          </tr>
          <tr>
            <td>Effective Price</td>
            <td>{{ object.effective_price|default:"—" }} {{ object.effective_currency }}</td>
          </tr>
          <tr>
            <td>Price in NOK</td>
            <td>{{ object.price_in_nok|floatformat:2 }} NOK</td>
          </tr>
          {% if object.currency_override %}
          <tr>
            <td>Currency Override</td>
            <td>{{ object.currency_override }}</td>
          </tr>
          <tr>
            <td>Conversion Rate</td>
            <td>{{ object.conversion_rate_to_nok|floatformat:6 }} to NOK</td>
          </tr>
          {% endif %}
          <tr>
            <td>Status</td>
            <td>
              {% if object.derived_status %}
              <span class="badge text-bg-{{ object.get_derived_status_class }}">{{ object.derived_status|capfirst }}</span>
              {% else %}
              -
              {% endif %}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

